<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.desmos.com/api/v1.5/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>
    <title>{% block title %}Document{% endblock %}</title>
</head>
<body>
    <!-- <script type="text/javascript" src="{{url_for('static', filename='index.js')}}"></script> -->
    <div>
        {% block instructions %}
        {% endblock %}
    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

  </body>
</html>