{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block instructions%}Edit calculated curves{% endblock %}
 
{% block content %}
  <div id="calculator" style="width: 1050px; height: 600px; margin-bottom: 1em;"></div>

  <style>
    #delete-button {
      display: inline-block;
      margin: 8px 4px;
      padding: 10px;
      background: #ddd;
      border: 1px solid #999;
      border-radius: 3px;
    }

    #delete-button.disabled {
      color: #999;
    }
  </style>

  <script>
    let controlPoints = '{{controlPoints}}';
    controlPoints = controlPoints.slice(1,-1).split(',');
    let expression_states = [];
    let counter = 0;

    console.log(controlPoints);

    function splitArrayIntoChunksOfLen(arr, len) {
      var chunks = [], i = 0, n = arr.length;
      while (i < n) {
        chunks.push(arr.slice(i, i += len));
      }
      return chunks;
    }

    function convert8ElementArray(cpArray, index) {
      let CPs = splitArrayIntoChunksOfLen(cpArray,2)
      CPs.forEach(convert2ElementArray);
      
      let n0 = index*4;
      let n1 = n0 + 1;
      let n2 = n0 + 2;
      let n3 = n0 + 3;

      n0 = "{" + n0 + "}"
      n1 = "{" + n1 + "}" 
      n2 = "{" + n2 + "}"
      n3 = "{" + n3 + "}"

      let bezierEqn = `((1-t)((1-t)((1-t)x_${n0}+tx_${n1})+t((1-t)x_${n1}+tx_${n2}))+t((1-t)((1-t)x_${n1}+tx_${n2})+t((1-t)x_${n2}+tx_${n3})),(1-t)((1-t)((1-t)y_${n0}+ty_${n1})+t((1-t)y_${n1}+ty_${n2}))+t((1-t)((1-t)y_${n1}+ty_${n2})+t((1-t)y_${n2}+ty_${n3})))`;
      let bezier = {
        latex: bezierEqn,
        parametricDomain: {min: '0', max: '1'},
        color: Desmos.Colors.BLACK
      };

      let guide1 = {
        latex: `((1-t)x_${n0} + tx_${n1},(1-t)y_${n0} + ty_${n1})`,
        parametricDomain: {min: '0', max: '1'},
        color: Desmos.Colors.PURPLE
      };

      let guide2 = {
        latex: `((1-t)x_${n1} + tx_${n2},(1-t)y_${n1} + ty_${n2})`,
        parametricDomain: {min: '0', max: '1'},
        color: Desmos.Colors.PURPLE
      };

      let guide3 = {
        latex: `((1-t)x_${n2} + tx_${n3},(1-t)y_${n2} + ty_${n3})`,
        parametricDomain: {min: '0', max: '1'},
        color: Desmos.Colors.PURPLE
      };

      expression_states.push(bezier, guide1, guide2, guide3);
    }

    function convert2ElementArray(cpArray) {
      let tempCounter = "{" + counter + "}"
      var x = {
        latex: 'x_' + tempCounter + `=${cpArray[0]}`,
        color: Desmos.Colors.BLUE
      }

      var y = {
        latex: 'y_' + tempCounter + `=${-1*cpArray[1]}`,
        color: Desmos.Colors.BLUE
      }

      var xy = {
        latex: '(x_' + tempCounter + ',y_' + tempCounter + ')',
        color: Desmos.Colors.BLUE
      }

      expression_states.push(x,y,xy);
      counter += 1;
    }

    
    var cp2 =splitArrayIntoChunksOfLen(controlPoints,8);

    cp2.forEach(convert8ElementArray);

    console.log(cp2);
    console.log(expression_states)
    

    var elt = document.getElementById('calculator');
    
    var calculator = Desmos.GraphingCalculator(elt, {
      expressions: true
    });

    expression_states.forEach(function(expression_state) {
      calculator.setExpression(expression_state);
    });
    
  </script>

{% endblock %}