{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block instructions%}Drag an image to the expression list to upload it.{% endblock %}
 
{% block content %}
  <div id="calculator" style="width: 1050px; height: 600px; margin-bottom: 1em;"></div>
  
  <form method="POST" enctype="multipart/form-data">
    <input type="hidden" id="imgURL" name="imgURL" value="">
    <input type="file" id="imgFile" name="imgFile">
    <input type="hidden" id="calcState" name="calcState" value="">
    <input type="submit" value="Store image data">
  </form>

  <script>
    var elt = document.getElementById('calculator');
    var calculator = Desmos.GraphingCalculator(elt);
    calculator.setExpression({
      latex: '(x_0,y_0)'
    });
    calculator.setExpression({
      latex: '(x_1,y_1)'
    });
    calculator.setExpression({
      latex: '(x_2,y_2)'
    });
    calculator.setExpression({
      latex: '(x_3,y_3)'
    });

    // var random = calculator.HelperExpression({latex: '(x_0,y_0)'});

    // random.observe('numericValue', function() {
    //   console.log(random.numericValue);
    // })

    calculator.setExpression({
      latex: 'x_0=10'
    });
    calculator.setExpression({
      latex: 'x_1=33'
    });
    calculator.setExpression({
      latex: 'x_2=5'
    });
    calculator.setExpression({
      latex: 'x_3=7'
    });

    calculator.setExpression({
      latex: 'y_0=10'
    });
    calculator.setExpression({
      latex: 'y_1=33'
    });
    calculator.setExpression({
      latex: 'y_2=5'
    });
    calculator.setExpression({
      latex: 'y_3=7'
    });

    calculator.setExpression({
      latex: '((1-t)((1-t)((1-t)x_0+tx_1)+t((1-t)x_1+tx_2))+t((1-t)((1-t)x_1+tx_2)+t((1-t)x_2+tx_3)),(1-t)((1-t)((1-t)y_0+ty_1)+t((1-t)y_1+ty_2))+t((1-t)((1-t)y_1+ty_2)+t((1-t)y_2+ty_3)))',
      parametricDomain: {min: '0', max: '1'}
    });

    calculator.setExpression({
      latex: '((1-t)x_0 + tx_1,(1-t)y_0 + ty_1)',
      parametricDomain: {min: '0', max: '1'}
    });

    calculator.setExpression({
      latex: '((1-t)x_1 + tx_2,(1-t)y_1 + ty_2)',
      parametricDomain: {min: '0', max: '1'}
    });

    calculator.setExpression({
      latex: '((1-t)x_2 + tx_3,(1-t)y_2 + ty_3)',
      parametricDomain: {min: '0', max: '1'}
    });
    



    
    
  </script>

  
  <!-- <script>
    var elt = document.getElementById('calculator');
    var calculator = Desmos.GraphingCalculator(elt, {
      imageUploadCallback: function (file, cb) {
        console.log(file)
        Desmos.imageFileToDataURL(file, function (err, dataURL) {
          storeImageData(dataURL);
          if (err) {
            cb(err);
          } else {
            cb(null, dataURL);
          }
        });
      }
    });
    
    function storeImageData(dataURL) {
      localStorage.setItem("imgURL", dataURL);
      localStorage.setItem("calcState", calculator.getState());
      document.getElementById("imgURL").value = dataURL;
      document.getElementById("calcState").value = calculator.getState();
    }
    
  </script> -->
{% endblock %}