<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <script src="https://www.desmos.com/api/v1.5/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>



  <style>
    #delete-button {
      display: inline-block;
      margin: 8px 4px;
      padding: 10px;
      background: #ddd;
      border: 1px solid #999;
      border-radius: 3px;
    }

    #delete-button.disabled {
      color: #999;
    }
  </style>
</head>
<body>
  <div id="calculator" style="width: 700px; height: 400px;"></div>
  <div id="delete-button" class="disabled">delete</div>
  <p>When a curve is selected, use the "delete" button to delete it.</p>

  <script >
    var elt = document.getElementById('calculator');
    var calculator = Desmos.GraphingCalculator(elt);
    calculator.setExpressions([
      {latex:'y=x^2'},
      {latex: 'x^2+y^2=1'},
      {latex: 'y=\\sin(x)'}
    ]);

    let controlPoints = '{{controlPoints}}';
    controlPoints = controlPoints.slice(1,-1).split(',');
    let expression_states = [];
    let counter = 0;

    console.log(controlPoints);

    function splitArrayIntoChunksOfLen(arr, len) {
      var chunks = [], i = 0, n = arr.length;
      while (i < n) {
        chunks.push(arr.slice(i, i += len));
      }
      return chunks;
    }

    function convert8ElementArray(cpArray, index) {
      let CPs = splitArrayIntoChunksOfLen(cpArray,2)
      CPs.forEach(convert2ElementArray);
      
      let n0 = index*4;
      let n1 = n0 + 1;
      let n2 = n0 + 2;
      let n3 = n0 + 3;

      n0 = "{" + n0 + "}"
      n1 = "{" + n1 + "}" 
      n2 = "{" + n2 + "}"
      n3 = "{" + n3 + "}"

      let bezierEqn = `((1-t)((1-t)((1-t)x_${n0}+tx_${n1})+t((1-t)x_${n1}+tx_${n2}))+t((1-t)((1-t)x_${n1}+tx_${n2})+t((1-t)x_${n2}+tx_${n3})),(1-t)((1-t)((1-t)y_${n0}+ty_${n1})+t((1-t)y_${n1}+ty_${n2}))+t((1-t)((1-t)y_${n1}+ty_${n2})+t((1-t)y_${n2}+ty_${n3})))`;
      let bezier = {
        latex: bezierEqn,
        parametricDomain: {min: '0', max: '1'},
        color: Desmos.Colors.BLACK
      };

      let guide1 = {
        latex: `((1-t)x_${n0} + tx_${n1},(1-t)y_${n0} + ty_${n1})`,
        parametricDomain: {min: '0', max: '1'},
        color: Desmos.Colors.PURPLE
      };

      let guide2 = {
        latex: `((1-t)x_${n1} + tx_${n2},(1-t)y_${n1} + ty_${n2})`,
        parametricDomain: {min: '0', max: '1'},
        color: Desmos.Colors.PURPLE
      };

      let guide3 = {
        latex: `((1-t)x_${n2} + tx_${n3},(1-t)y_${n2} + ty_${n3})`,
        parametricDomain: {min: '0', max: '1'},
        color: Desmos.Colors.PURPLE
      };

      expression_states.push(bezier, guide1, guide2, guide3);
    }

    function convert2ElementArray(cpArray) {
      let tempCounter = "{" + counter + "}"
      var x = {
        latex: 'x_' + tempCounter + `=${counter}`,
        color: Desmos.Colors.BLUE
      }

      var y = {
        latex: 'y_' + tempCounter + `=${counter}`,
        color: Desmos.Colors.BLUE
      }

      var xy = {
        latex: '(x_' + tempCounter + ',y_' + tempCounter + ')',
        color: Desmos.Colors.BLUE
      }

      expression_states.push(x,y,xy);
      counter += 1;
    }

    
    var cp2 =splitArrayIntoChunksOfLen(controlPoints,8);

    cp2.forEach(convert8ElementArray);

    console.log(cp2);
    console.log(expression_states)
    

    var elt = document.getElementById('calculator');
    
    // var calculator = Desmos.GraphingCalculator(elt, {
    //   expressions: false
    // });


    expression_states.forEach(function(expression_state) {
      calculator.setExpression(expression_state);
    });

    var deleteButton = document.getElementById('delete-button');

    deleteButton.addEventListener('mousedown', function (evt) {
      evt.preventDefault();
      evt.stopPropagation();
    })

    deleteButton.addEventListener('click', function (evt) {
      if (!calculator.isAnyExpressionSelected) return;
      calculator.removeSelected();
    });

    calculator.observe('isAnyExpressionSelected', function () {
      deleteButton.className = calculator.isAnyExpressionSelected ? '' : 'disabled';
      console.log('hello')
    });
  </script>
  
</body>
</html>